.scroll-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 19%;
    margin: 0 10px;
}

.card2 {
    min-width: 15%;
    margin: 0 10px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    }
    .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    }

.p-20{
    padding: 5rem;
}
